body{
	height: 100%;
	margin: 0; 
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-family: Palatino, 'Palatino Linotype', serif;
	color: rgb(121, 149, 117);
}

h2 {
	font-size: 56px;
}

.triangulation {
	padding: 250px 0;
	margin: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url('https://en.wikipedia.org/wiki/Sierpinski_triangle#/media/File:Sierpi%C5%84ski_Pyramid_from_Above.PNG');
	background-size: cover;
	color: #000000;

}

